@font-face {
  font-family: "Bai Jamjuree";
  src: url("../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("../../assets/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf");
  font-weight: 600;
}
:root {
  font-size: 18px;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  line-height: 35px;
}

p {
  line-height: 25px;
}

.flex-container-row, footer .social-icons, .btns, .flex-container-col, footer, main.main-container .section-1, main.main-container .section-5, main.main-container .section-4, main.main-container .section-3, main.main-container .section-2, main.main-container, .page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-col, footer, main.main-container .section-1, main.main-container .section-5, main.main-container .section-4, main.main-container .section-3, main.main-container .section-2, main.main-container, .page-header {
  flex-direction: column;
}

.btns {
  flex-wrap: wrap;
  gap: 25px;
}
.btns button, .btns button:nth-child(2) {
  flex-grow: 1;
  background-color: hsl(171, 66%, 44%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
}
.btns button:nth-child(2) {
  background-color: hsl(233, 100%, 69%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  min-height: 100vh;
  font-size: 0.91rem;
  color: hsl(201, 11%, 66%);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 150px;
  text-align: center;
}

.page-header,
main.main-container {
  padding: 0 30px;
}

.page-header {
  padding-top: 120px;
}
.page-header::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../../images/bg-header-mobile.png") no-repeat hsl(0, 0%, 100%);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-header img {
  min-width: 50px;
}
.page-header h1 {
  margin-top: 75px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1.7rem;
}
.page-header p {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
}

main.main-container {
  gap: 100px;
}
main.main-container h2 {
  margin: 0;
  font-size: 1.5rem;
}
main.main-container p {
  margin-top: 0;
  margin-bottom: 70px;
}
main.main-container .section-1, main.main-container .section-5, main.main-container .section-4, main.main-container .section-3, main.main-container .section-2 {
  gap: 25px;
}
main.main-container .section-4 {
  gap: 65px;
}
main.main-container .section-5 p {
  margin-bottom: 30px;
}

footer {
  padding: 50px;
  gap: 50px;
  background-color: hsl(220, 18%, 97%);
}
footer > img {
  width: 60px;
}
footer .social-icons {
  gap: 40px;
}

@media (min-width: 376px) {
  .btns button, .btns button:nth-child(2) {
    flex-grow: 0;
    max-width: 400px;
    padding: 15px 40px;
  }
  .page-header::before {
    background: url("../../images/bg-header-desktop.png") no-repeat hsl(0, 0%, 100%);
  }
}
@media (min-width: 900px) {
  .flex-container-rows, footer > div:not(.social-icons), main.main-container .section-3 > div > div, main.main-container .section-3 > div, main.main-container .section-1 > div:nth-child(2), main.main-container .section-2 > div:nth-child(2), main.main-container .section-3 > div:nth-child(2), main.main-container .section-4 > div:nth-child(2), main.main-container .section-5 > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.container {
    place-content: center;
  }
  div.container .page-header > div {
    width: 650px;
    padding: 40px;
  }
  main.main-container {
    padding-right: 160px;
    padding-left: 160px;
  }
  main.main-container .content-container {
    width: 650px;
  }
  main.main-container .content-container p {
    margin-top: 20px;
  }
  main.main-container .section-1 > img, main.main-container .section-2 > img, main.main-container .section-3 > img, main.main-container .section-4 > img, main.main-container .section-5 > img {
    margin-left: -700px;
  }
  main.main-container .section-1 > div:nth-child(2), main.main-container .section-2 > div:nth-child(2), main.main-container .section-3 > div:nth-child(2), main.main-container .section-4 > div:nth-child(2), main.main-container .section-5 > div:nth-child(2) {
    gap: 100px;
  }
  main.main-container .section-1 > div:nth-child(2) > img, main.main-container .section-2 > div:nth-child(2) > img, main.main-container .section-3 > div:nth-child(2) > img, main.main-container .section-4 > div:nth-child(2) > img, main.main-container .section-5 > div:nth-child(2) > img {
    margin-left: -250px;
  }
  main.main-container .section-1 > div:nth-child(2) > .info, main.main-container .section-2 > div:nth-child(2) > .info, main.main-container .section-3 > div:nth-child(2) > .info, main.main-container .section-4 > div:nth-child(2) > .info, main.main-container .section-5 > div:nth-child(2) > .info {
    text-align: left;
    padding: 40px;
  }
  main.main-container .section-2 img {
    margin: 0;
  }
  main.main-container .section-3 > div {
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  main.main-container .section-3 > div > div {
    flex: 1;
    font-size: 0.8rem;
    flex-direction: column;
  }
  main.main-container .section-3 > div > div:not(:first-child) img {
    margin-bottom: 8px;
  }
  main.main-container .section-4 {
    flex-direction: row;
  }
  main.main-container .section-4 img {
    margin: 0;
  }
  main.main-container .section-5 div + div.btns {
    gap: 25px;
  }
  footer {
    padding: 20px 160px;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    color: hsl(210, 10%, 33%);
  }
  footer > div:not(.social-icons) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    height: 100px;
    width: 50%;
    text-align: left;
  }
  footer > div:not(.social-icons) p {
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
